@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark: #444;
  --dark-gray: #999;
  --gray: #eee;
  --info: #134f6a;
  --ok: #04b4ac;
  --bad: #c84152;
}